<%- include('./layouts/header.ejs') %>
<%- include('./layouts/menu.ejs') %>
<div class="card mt-5" style="width: 100%;">
  <div class="card-header">
    Orders BLood
  </div>
  <table class="table" id="example3" style="width:100%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">الاسم</th>
        <th scope="col"> رقم الهوية</th>
        <th scope="col"> العمر</th>
        <th scope="col">فصيلة الدم</th>
        <th scope="col"> الهاتف</th>
        <th scope="col"> التاريخ</th>
        <th scope="col"> الوقت</th>
        <th scope="col"> الاجراءات</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i< data.length; i++) { %>
          <tr>
              <th scope="row"><%= (i+1) %></th>
              <td><%= data[i].name%></td>
              <td><%= data[i].national_id%></td>
              <td><%= data[i].age%></td>
              <td><%= data[i].blood_type%></td>
              <td><%= data[i].phone%></td>
              <td><%= data[i].date%></td>
              <td><%= data[i].time%></td>
              <td></td>
          </tr>
      <% } %>

    </tbody>
  </table>
</div>

<%- include('./layouts/footer.ejs') %>
<script type="text/javascript">
$(document).ready(function() {
  $('#example3').DataTable();
} );
</script>
