<%- include('./layouts/header.ejs') %>
<%- include('./layouts/menu.ejs') %>

<div class="card mt-5" style="width: 100%;">

  <% if (messages.success) { %>
      <div class="alert alert-success" role="alert"><%- messages.success %></div>
  <% } %>
  <div class="card-header">
    طلبات كورونا
  </div>
  <% var test = data; %>
  <table class="table" id="example" style="width:100%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">الاسم</th>
        <th scope="col"> رقم الهوية</th>
        <th scope="col"> العمر</th>
        <th scope="col">حالة الطلب</th>
        <th scope="col"> الموقع</th>
        <th scope="col"> الاجراءات</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i< data.length; i++) { %>
          <tr>
              <th scope="row"><%= (i+1) %></th>
              <td><%= data[i].name%></td>
              <td><%= data[i].national_id%></td>
              <td><%= data[i].age%></td>
              <td>
                <% if(data[i].status == 'approve'){%>
                  <span class="btn btn-success"><%= data[i].status%></span>
                <%}%>
                <% if(data[i].status == 'cancel'){%>
                  <span class="btn btn-danger"><%= data[i].status%></span>
                <%}%>
                <% if(data[i].status == 'pending'){%>
                  <span class="btn btn-warning"><%= data[i].status%></span>
                <%}%>
              </td>
              <td>
                <div id="map<%= (i+1)%>"  class="map">
                </div>
              </td>
              <td>
                <% if(data[i].status == 'pending'){%>
                  <a href="/corona_order_web/approve/<%=data[i].order_id%>" onclick="return alert('Are You sure?')"><i class="bi bi-pencil-square"></i></a>
                <%}%>
              </td>
          </tr>
      <% } %>

    </tbody>
  </table>
</div>

<%- include('./layouts/footer.ejs') %>
<script>
// var getData = JSON.parse(<%= data %>);
// console.log(getData);
var data = <%-JSON.stringify(data) %>;
function initMap() {
    for (var i = 0; i < data.length; i++) {
        let id = i+1;
        console.log(data[i].latitude);
        console.log(data[i].longitude);
        var longitude = parseFloat(data[i].longitude);
        var latitude = parseFloat(data[i].latitude);
        var myLatLng = { lat:latitude, lng:longitude };
        // var myLatLng = { lat:24.79017347750948, lng:46.822896637022495 };
        var map = new google.maps.Map(document.getElementById("map"+id), {
          zoom: 10,
          center: myLatLng,
        });
        new google.maps.Marker({
          position: myLatLng,
          map,
          title: "Hello World!",
        });
    }
}
</script>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnBBjq7WgxBQyvEbWy_FUp351mX9yP_ho&callback=initMap&libraries=&v=weekly"
      async
></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#example').DataTable();
} );
</script>
